/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

body {
  text-align: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient Background */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
}

/* Heading */
h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: 600;
  color: #fff;
}

/* Card Design */
.card {
  background: rgba(255, 255, 255, 0.1); /* Glassmorphism Effect */
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 40px;
  width: 100%;
  max-width: 600px;
}

/* Form Layout */
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input, .select-trigger {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 14px 16px;
  margin: 10px 0;
  font-size: 1rem;
  transition: all 0.3s ease;
}

/* Input Focus */
.input:focus, .select-trigger:focus {
  outline: none;
  border-color: #feb47b;
  box-shadow: 0 0 10px rgba(255, 182, 123, 0.5);
}

.input::placeholder, .select-trigger::placeholder {
  color: #b4b4b4;
}

/* Label Styling */
.select-wrapper label {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 8px;
  text-align: left;
}

/* Select Box Styling */
.select-trigger {
  cursor: pointer;
  background-color: #fff;
  font-size: 1rem;
  padding: 12px 16px;
  border-radius: 10px;
  border: 2px solid #fff;
  transition: background-color 0.3s ease;
}

.select-trigger:hover {
  background-color: #ff7e5f;
  color: #fff;
  border-color: #ff7e5f;
}

.select-wrapper .select-content {
  border-radius: 10px;
}

/* Button Styling */
.button {
  border: black 1px;
  background: linear-gradient(to right, #ff7e5f, #f8ab70); /* Gradient Button */
  color: #fff;
  padding: 14px 30px;
  border: none;
  border-radius: 50px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #feb47b;
  transform: scale(1.05);
}

.button:active {
  background-color: #ff7e5f;
}

/* Button (Disabled) */
.button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .card {
    padding: 25px;
  }

  .input, .select-trigger {
    font-size: 1rem;
  }

  .button {
    font-size: 1rem;
  }
}
